HIS2.0/HIS2.0/HIS框架2.0/ts.WHZXYY.Portal/Web References/WebReference/Project.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:s0="http://wuhan-central-hospital.org/platform" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://wuhan-central-hospital.org/platform" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://wuhan-central-hospital.org/platform">
      <s:element name="ProcessInput">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="input" type="s:string" />
            <s:element minOccurs="0" name="timeout" type="s:long" />
            <s:element minOccurs="0" name="target" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessInputResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="ProcessInputResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="ProcessInputSoapIn">
    <part name="parameters" element="s0:ProcessInput" />
  </message>
  <message name="ProcessInputSoapOut">
    <part name="parameters" element="s0:ProcessInputResponse" />
  </message>
  <portType name="XMLStreamServiceSoap">
    <operation name="ProcessInput">
      <input message="s0:ProcessInputSoapIn" />
      <output message="s0:ProcessInputSoapOut" />
    </operation>
  </portType>
  <binding name="XMLStreamServiceSoap" type="s0:XMLStreamServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="ProcessInput">
      <soap:operation soapAction="http://wuhan-central-hospital.org/platform/Project.Proxy.WS.XMLStreamService.ProcessInput" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="XMLStreamService">
    <port name="XMLStreamServiceSoap" binding="s0:XMLStreamServiceSoap">
      <soap:address location="http://192.168.0.214:8972/csp/PROJ7/Project.Proxy.WS.XMLStreamService.cls" />
    </port>
  </service>
</definitions>